@import url("./reset.css");
@import url("./variables.css");

.contact-form-container {
    display: flex;
    justify-content: space-between;
    gap: var(--space-medium);
    flex-wrap: wrap;
    margin: var(--space-medium);
}

.contact-form-wrapper {
    flex: 1;
}

.contact-form-wrapper, .general-inquiries-section {
    max-width: 50%;
}

.contact-form-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

input,
select,
textarea {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    padding: var(--space-small);
}

.general-inquiries-section {
    border-left: 1px solid #DAE5F5;
    padding-left: var(--space-large);
}

.contact-info {
    margin-top: var(--space-large);
    font-weight: bold;
}

@media (max-width:600px) {
    .contact-form-wrapper, .general-inquiries-section {
        max-width: 100%;
    }

    .general-inquiries-section {
        border-left: none;
        border-top: 1px solid #DAE5F5;;
        padding-left: var(--space-small);
    }
}