@import url("./reset.css");
@import url("./variables.css");

.event-wrapper, .event-wrapper-reverse {
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 20px 50px 20px;
}

.event-wrapper img, .event-wrapper-reverse img {
    max-width: 400px;
    box-shadow: 1px 1px 4px black;
}

.event-text-dark {
    color: var(--secondary-text);
}

.event-details {
    font-weight: bold;
    margin: 0 0 0 0;
}

.event-outro {
    margin-bottom: 40px;
}

.event-wrapper-reverse {
    background-color:  var(--primary-bg); 
}

.newsletter {
    text-align: center;
    margin: 40px;
}

input,
select,
textarea {
    border: 1px solid grey;
    border-radius: 5px;
    width: 300px;
    margin: 10px 10px 30px 0px;
    padding: 10px;
    text-align: center;
}

@media (max-width:900px) {
    .event-wrapper img, .event-wrapper-reverse img {
        width: 300px;
    }
}

@media (max-width:700px) {
    .event-wrapper {
        flex-direction: column;
        margin: 20px;
    }
    .event-wrapper-reverse {
        flex-direction: column;
    }
    .event-wrapper img, .event-wrapper-reverse img {
        width: unset;
        max-width: 100%;
    }

    .event-wrapper img {
        order: -1;
    }
    .newsletter {
        margin: 10px; 
    }
}