@import url("./reset.css");
@import url("./variables.css");

.wrapper, .wrapper-1 {
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 20px 50px 20px;
}

.wrapper img, .wrapper-1 img {
    max-width: 400px;
    box-shadow: 1px 1px 4px black;
}

.event-details {
    font-weight: bold;
    margin: 0 0 0 0;
}

.event-black {
    color: black;
}

.last-p {
    margin-bottom: 40px;
}

.wrapper-1 {
    background-color:  var(--primary-bg); 
}

.newsletter {
    text-align: center;
    margin: 40px;
}

input,
select,
textarea {
    border: 1px solid grey;
    border-radius: 5px;
    width: 300px;
    margin: 10px 10px 30px 0px;
    padding: 10px;
    text-align: center;
}

@media (max-width:600px) {
    .wrapper {
        flex-direction: column;
        margin: 20px;
    }
    .wrapper-1 {
        flex-direction: column;
    }
    .wrapper img, .wrapper-1 img {
        max-width: 300px;
    }

    .wrapper img {
        order: -1;
    }
    .newsletter {
        margin: 10px; 
    }
}