@import url("./reset.css");
@import url("./variables.css");


.explore-section {
    background-color: #14273D;
    color: white;
    padding: 30px;
    
    padding-bottom: 50px;
}

.explore-section, .teacher-explore-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-large);
}

.explore-section img, .teacher-explore-section img {
    max-width: 300px;
    margin-left: 30px;
}

.explore-section p, .teacher-explore-section p {
    margin-bottom: 50px;
}

.explore-section h2, .explore-section p, .explore-section a {
    margin-left: 35px;
}

.programs-section {
    display: flex;
    justify-content: space-between;
    gap: var(--space-medium);
    margin-top: 50px;
}

.program-card {
    text-align: center;
    background-color: #B6894B;
    color: var(--secondary-text);
    padding: 30px;
}

.program-card a {
    color: var(--secondary-text);
    font-weight: bold;
}

.teacher-explore-section {
    margin: 40px 0 60px 60px;
}

@media (max-width:700px) {
    .explore-section {
        margin: 0;
    }

    .explore-section h2, .explore-section p, .explore-section a {
        margin-left: 0px;
    }
    
    .programs-section {
        flex-direction: column;
    }

    .teacher-explore-section, .explore-section {
        flex-direction: column;
    }
  
    .teacher-explore-section img, .explore-section img {
        align-items: center;
        margin: 30px 0 0 0;
    }
}