@import url("./variables.css");

h1, h2, h3, h4 {
    font-family: var(--font-heading);
}

p, a, form {
    font-family: var(--font-body);
}

.bold {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
} 

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 10px;
    padding-right: 30px;
    border-bottom: 1px solid var(--accent);
    text-align: right;
    z-index: 1000;
    box-sizing: border-box;
}

.logo {
    max-width: 150px;
}

nav {
    position: absolute;
    background-color: var( --primary-bg);
    text-align: right;
    right: 0;
    top: 78px;
    width: 100%;
    padding-right: 0px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-bottom: 1px solid var(--accent);
    padding: 15px;
    padding-right: 30px;
}

.intro-section {
    margin-top: 100px;
    padding: 20px 20px 10px 20px;
    }

.intro-section h1  {
    margin: 0px;
}

.button {
    background-color: var(--accent);
    border-radius: 22px;
    border: 3px solid var(--accent-dark);
    padding: 10px 50px;
    color: var(--secondary-text);
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background-color: var(--accent-hover);
    border: 3px solid var(--accent-border-hover);
}

footer {
    margin-top: var(--space-large);
    padding: 30px;
    text-align: center;
    border-top: 1px solid var(--accent);
}

footer a {
    color: var(--accent);
    margin-right: 10px;
}

footer a:hover {
    color: var(--accent-hover);
}

footer p {
    margin-top: 50px;
}

@media (min-width: 850px) {
    .logo {
        max-width: 200px;
        height: auto;
        margin-left: var(--space-small);
    }
    
    nav {
        display: block;
        position: static;
        padding-bottom: 0px;
        padding-right: var(--space-small);
    }

    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
        border-right: white;
        border-left: 2px solid white;
        margin-left: -8px;
        border-bottom: none;
    }

    nav a:hover {
        background-color: var(--accent);
        color: var(--secondary-text);
    }

    nav a.active {
        background-color: var(--accent);
        color: var(--secondary-text);
    }

    header {
        margin-bottom: -10px;
    }

    .intro-section {
        margin-top: 100px;
        padding: 40px 40px 20px 40px;
        }

    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2rem;
    }
}