:root {
    --primary-bg: #0b1d2f ;
    --secondary-bg: #14273D ;
    --light-bg: #F0F4FA ;
    --primary-text: white ;
    --secondary-text: black; 
    --accent: #ffa500;
    --accent-dark: #916107;
    --accent-hover: #ffb52e;
    --accent-border-hover: #ce8601;
    --shadow: #313131;

    --font-heading: "poppins", arial, helvetica, sans-serif;
    --font-body: "inter", verdana, tahoma, sans-serif;

    --space-small: 10px;
    --space-medium: 20px;
    --space-large: 40px;
}