@import url("./reset.css");
@import url("./variables.css");

.location-container {
    border: 1px solid #4C768F;
    display: flex;
    align-items: center;
    text-align: center;
    gap: var(--space-medium);
    padding: 20px 20px 50px 20px;
    margin: var(--space-medium);
}

.location-container div, .location-container img {
    flex: 1;
}

hr.decorative-line {
    border: 0;
    height: 4px;
    background: var(--accent);
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
}

.contact-details {
    margin-top: var(--space-large);
}

iframe {
    width: 80%;
}

.row-container {
    display: flex;
    gap: var(--space-medium);
    margin: var(--space-medium);
}

.info-card {
    flex: 1;
    border: 1px solid #4C768F;
    align-items: center;
    text-align: center;
    gap: var(--space-medium);
    padding: 20px 20px 50px 20px;
}

.icon {
    width: 80px;
}

@media (max-width:600px) {
    .row-container, .location-container {
        flex-direction: column;
    }
}