@import url("./reset.css");
@import url("./variables.css");

.location-container {
    border: 1px solid #4C768F;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px 20px 50px 20px;
    margin: 20px;
}

.location-container article, .location-container img {
    flex: 1;
}

.location-container img {
    max-width: 100%;
}

.contact-details {
    margin-top: 40px;
}

.row-container {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.info-card {
    flex: 1;
    border: 1px solid #4C768F;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px 20px 50px 20px;
}

.icon {
    width: 80px;
}

hr.decorative-line {
    border: 0;
    height: 4px;
    background: var(--accent);
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
}

iframe {
    width: 80%;
}

@media (max-width:600px) {
    .row-container, .location-container {
        flex-direction: column;
    }
}